{% extends 'base.html.twig' %}

{% block title %}Albums | Flou2Rallye{% endblock %}
{% block Description %} Retrouvez mes photos et albums {% endblock %}

{% block body %}

<section class="container allAlbums">
  <h2 class="title">
    Mes albums
  </h2>
  <div class="filterAlbums">
    <div id="numberAlbums"></div>
    <div class="filters">
      <div class="display filter">
        <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_264_102)">
            <mask id="mask0_264_102" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="17" height="16">
              <path d="M16.4221 0H0.422119V16H16.4221V0Z" fill="white"/>
            </mask>
            <g mask="url(#mask0_264_102)">
              <path d="M7.75545 7.33333H0.422119V2C0.422119 1.46957 0.632833 0.960859 1.00791 0.585786C1.38298 0.210714 1.89169 0 2.42212 0H7.75545V7.33333ZM1.75545 6H6.42212V1.33333H2.42212C2.24531 1.33333 2.07574 1.40357 1.95071 1.5286C1.82569 1.65362 1.75545 1.82319 1.75545 2V6Z" fill="#411F49"/>
              <path d="M16.4222 7.33333H9.08887V0H14.4222C14.9527 0 15.4614 0.210714 15.8365 0.585786C16.2115 0.960859 16.4222 1.46957 16.4222 2V7.33333ZM10.4222 6H15.0889V2C15.0889 1.82319 15.0187 1.65362 14.8936 1.5286C14.7686 1.40357 14.5991 1.33333 14.4222 1.33333H10.4222V6Z" fill="#411F49"/>
              <path d="M7.75545 16H2.42212C1.89169 16 1.38298 15.7892 1.00791 15.4142C0.632833 15.0391 0.422119 14.5304 0.422119 14V8.66663H7.75545V16ZM1.75545 9.99996V14C1.75545 14.1768 1.82569 14.3463 1.95071 14.4714C2.07574 14.5964 2.24531 14.6666 2.42212 14.6666H6.42212V9.99996H1.75545Z" fill="#411F49"/>
              <path d="M14.4222 16H9.08887V8.66663H16.4222V14C16.4222 14.5304 16.2115 15.0391 15.8365 15.4142C15.4614 15.7892 14.9527 16 14.4222 16ZM10.4222 14.6666H14.4222C14.5991 14.6666 14.7686 14.5964 14.8936 14.4714C15.0187 14.3463 15.0889 14.1768 15.0889 14V9.99996H10.4222V14.6666Z" fill="#411F49"/>
            </g>
          </g>
          <defs>
            <clipPath id="clip0_264_102">
              <rect width="17" height="16" fill="white"/>
            </clipPath>
          </defs>
        </svg>
        Afficher :
        <select name="filterNumber" id="filterNumber">
          <option value="10">10</option>
          <option value="50">50</option>
          <option value="150">150</option>
        </select>
      </div>
      <div class="type filter">
        <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_264_116)">
            <mask id="mask0_264_116" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="17" height="16">
              <path d="M16.4221 0H0.422119V16H16.4221V0Z" fill="white"/>
            </mask>
            <g mask="url(#mask0_264_116)">
              <path d="M0.422119 2V7.33333H7.75545V0H2.42212C1.89169 0 1.38298 0.210714 1.00791 0.585786C0.632833 0.960859 0.422119 1.46957 0.422119 2ZM6.42212 6H1.75545V2C1.75545 1.82319 1.82569 1.65362 1.95071 1.5286C2.07574 1.40357 2.24531 1.33333 2.42212 1.33333H6.42212V6Z" fill="#411F49"/>
              <path d="M0.422119 14C0.422119 14.5304 0.632833 15.0391 1.00791 15.4142C1.38298 15.7892 1.89169 16 2.42212 16H7.75545V8.66663H0.422119V14ZM1.75545 9.99996H6.42212V14.6666H2.42212C2.24531 14.6666 2.07574 14.5964 1.95071 14.4714C1.82569 14.3463 1.75545 14.1768 1.75545 14V9.99996Z" fill="#411F49"/>
              <path d="M13.7555 14.278V1.72396L15.4782 3.44396L16.4222 2.50063L14.5029 0.583964C14.1279 0.209633 13.6197 -0.000610352 13.0899 -0.000610352C12.56 -0.000610352 12.0518 0.209633 11.6769 0.583964L9.76018 2.4973L10.7022 3.44063L12.4222 1.7213V14.2773L10.6989 12.556L9.75684 13.4993L11.6762 15.416C12.0512 15.7903 12.5594 16.0005 13.0892 16.0005C13.619 16.0005 14.1272 15.7903 14.5022 15.416L16.4222 13.5026L15.4802 12.5593L13.7555 14.278Z" fill="#411F49"/>
            </g>
          </g>
          <defs>
            <clipPath id="clip0_264_116">
              <rect width="17" height="16" fill="white"/>
            </clipPath>
          </defs>
        </svg>
        Filter :
        <select name="filter" id="filter">
          <option value="recent">Récent</option>
          <option value="popularite">Popularité</option>
        </select>
      </div>
    </div>
  </div>
  <div class="cardsContainer" id="albumsContainer">
    {% for album in albums %}
        {% set firstPhoto = album.photos|first %}
        <a href='{{ path('albums_detail', {'id': album.id}) }}' class="cardAlbum" data-recent="{{ album.createdAt|date('U') }}" data-popularite="{{ album.save }}" data-title="{{ album.name }}" data-categories="{% for category in album.categories %}{{ category.name }} {% endfor %}">
        
          <div class="effect">
            <span class="line line1"></span>
            <span class="line line2"></span>
          </div>
          <div class="containerImg">
            <picture>
              <source srcset="{{ vich_uploader_asset(album, 'coverFile')| imagine_filter('card_album_webp') }}" type="image/webp">
              <source srcset="{{ vich_uploader_asset(album, 'coverFile')| imagine_filter('card_album_jpeg') }}" type="image/jpeg"> 
              <img src="{{ vich_uploader_asset(album, 'coverFile')| imagine_filter('card_album_jpeg') }}" alt="{{ album.coverName }}">
            </picture>
            <div class="layer"></div>
          </div>
          <div class="info">
            <h3>{{ album.name }}</h3>
            <span class="subInfo">
              {{ album.photos|length }} Photos
              <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.6875 2.1875H1.3125C1.07051 2.1875 0.875 2.38301 0.875 2.625V11.375C0.875 11.617 1.07051 11.8125 1.3125 11.8125H12.6875C12.9295 11.8125 13.125 11.617 13.125 11.375V2.625C13.125 2.38301 12.9295 2.1875 12.6875 2.1875ZM12.1406 10.8281H1.85938V10.2826L3.75293 8.03633L5.80508 10.4699L8.99746 6.68555L12.1406 10.4125V10.8281ZM12.1406 9.05352L9.08086 5.425C9.03711 5.37305 8.95781 5.37305 8.91406 5.425L5.80508 9.11094L3.83633 6.77715C3.79258 6.7252 3.71328 6.7252 3.66953 6.77715L1.85938 8.92363V3.17188H12.1406V9.05352ZM4.15625 6.23438C4.31425 6.23438 4.4707 6.20326 4.61667 6.14279C4.76264 6.08233 4.89527 5.99371 5.00699 5.88199C5.11871 5.77027 5.20733 5.63764 5.26779 5.49167C5.32826 5.3457 5.35938 5.18925 5.35938 5.03125C5.35938 4.87325 5.32826 4.7168 5.26779 4.57083C5.20733 4.42486 5.11871 4.29223 5.00699 4.18051C4.89527 4.06879 4.76264 3.98017 4.61667 3.91971C4.4707 3.85924 4.31425 3.82812 4.15625 3.82812C3.83716 3.82812 3.53114 3.95488 3.30551 4.18051C3.07988 4.40614 2.95312 4.71216 2.95312 5.03125C2.95312 5.35034 3.07988 5.65636 3.30551 5.88199C3.53114 6.10762 3.83716 6.23438 4.15625 6.23438ZM4.15625 4.64844C4.36816 4.64844 4.53906 4.81934 4.53906 5.03125C4.53906 5.24316 4.36816 5.41406 4.15625 5.41406C3.94434 5.41406 3.77344 5.24316 3.77344 5.03125C3.77344 4.81934 3.94434 4.64844 4.15625 4.64844Z" fill="#F3ECF4"/>
              </svg>
            </span>
          </div>
        </a>
    {% endfor %}
  </div>
  <div id="paginationContainer"></div>
  <div id="searchValue" data-value="{{searchValue}}"></div>
</section>

{% endblock %}

{% block javascripts_custom %}

{{ encore_entry_script_tags('allAlbums') }}
{% endblock %}
