<div class="content-body" >
    <!-- row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-9 col-xxl-12">
                <div class="row">

                    {# <div class="col-xl-4 col-xxl-4 col-lg-4 col-md-12">
                        <div class="card">

                            <div class="">

                                <h4 class="card-title text-center p-3" >WEBINAIRES</h4>

                            </div>

                            {% if webinaire is defined %}
                                {% if webinaires | length > 0 %}

                                    {% set  webinaireTotal = webinaires | length %}

                                {% endif %}
                            {% endif %}
                            


                            <div class="card-body">

                                <div class="">

                                    <h4 class="card-title text-center p-3 text-muted" >Nombre de webinaires : {{ webinaires | length }}</h4>

                                </div>
                                <div class="card-title text-center p-3">

                                    <a id="btn-index" href="{{ path('app_webinaires_create') }}"><svg  xmlns="http://www.w3.org/2000/svg" width="50" height="50"  fill="#FD6621" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                            <path  d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                        </svg></a>

                                </div>



                            </div>


                        </div>
                    </div>

                    <div class="col-xl-4 col-xxl-4 col-lg-4 col-md-12">
                        <div class="card">

                            <div class="">

                                <h4 class="card-title text-center p-3" >REALISATIONS</h4>

                            </div>

                            {% if realisations | length > 0 %}

                            {% set  realisationTotal = realisations | length %}

                            {% endif %}


                            {% set realisationOnline = 0 %}
                            {% set realisationOffline = 0  %}

                            {% for realisation in realisations %}
                                {% if realisation.online %}
                                {% set realisationOnline = realisationOnline + 1 %}
                                {% else %}
                                {%  set realisationOffline = realisationOffline + 1%}
                                {%  endif %}

                            {% endfor %}



                            <div class="card-body">
                                {% if realisations | length > 0 %}
                                <p class="mb-2 d-flex align-items-center"><i class="fa fa-circle text-warning mr-1"></i> En attente

                                <span class="pull-right text-warning ml-auto"> {{ ((realisationOffline / realisationTotal) * 100) | round }}%</span>
                                </p>
                                <div class="progress mb-3" style="height:4px">
                                    <div class="progress-bar bg-warning progress-animated" style="width:{{ ((realisationOffline / realisationTotal) * 100) | round }}%; height:4px;" role="progressbar">
                                    </div>
                                </div>

                                <p class="mb-2 d-flex align-items-center"> <i class="fa fa-circle text-success mr-1"></i>En ligne
                                    <span class="pull-right text-success ml-auto">{{ ((realisationOnline / realisationTotal) * 100) | round }}%</span>
                                </p>
                                <div class="progress mb-3" style="height:4px">
                                    <div class="progress-bar bg-success progress-animated" style="width:{{ ((realisationOnline / realisationTotal) * 100) | round }}%; height:4px;" role="progressbar">
                                    </div>
                                </div>
                                {% endif %}

                                <div class="">

                                    <h4 class="card-title text-center p-3 text-muted" >Nombre de Realisations : {{ realisations | length }}</h4>

                                </div>
                                <div class="card-title text-center p-3">

                                    <a id="btn-index" href="{{ path('app_realisations_create') }}"><svg  xmlns="http://www.w3.org/2000/svg" width="50" height="50"  fill="#FD6621" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                            <path  d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                        </svg></a>

                                </div>



                            </div>


                        </div>
                    </div>



                    <div class="col-xl-4 col-xxl-4 col-lg-4 col-md-12">
                        <div class="card">

                            <div class="">

                                <h4 class="card-title text-center p-3" >OUTILS</h4>

                            </div>


                            {% set  outilTotal = outils | length %}


                            {% set outilOnline = 0 %}
                            {% set outilOffline = 0  %}

                            {% for outil in outils %}
                                {% if outil.online %}
                                    {% set outilOnline = outilOnline + 1 %}
                                {% else %}
                                    {%  set outilOffline = outilOffline + 1%}
                                {%  endif %}

                            {% endfor %}





                            <div class="card-body">
                                {% if outils | length > 0 %}
                                <p class="mb-2 d-flex align-items-center"><i class="fa fa-circle text-warning mr-1"></i> En attente

                                    <span class="pull-right text-warning ml-auto"> {{ ((outilOffline / outilTotal) * 100) | round }}%</span>
                                </p>
                                <div class="progress mb-3" style="height:4px">
                                    <div class="progress-bar bg-warning progress-animated" style="width:{{ ((outilOffline / outilTotal) * 100) | round }}%; height:4px;" role="progressbar">
                                    </div>
                                </div>

                                <p class="mb-2 d-flex align-items-center"> <i class="fa fa-circle text-success mr-1"></i>En ligne
                                    <span class="pull-right text-success ml-auto">{{ ((outilOnline / outilTotal) * 100) | round }}%</span>
                                </p>
                                <div class="progress mb-3" style="height:4px">
                                    <div class="progress-bar bg-success progress-animated" style="width:{{ ((outilOnline / outilTotal) * 100) | round }}%; height:4px;" role="progressbar">
                                    </div>
                                </div>

                                {% endif %}
                                <div class="">

                                    <h4 class="card-title text-center p-3 text-muted" >Nombre d'Outils : {{ outils | length}}</h4>

                                </div>
                                <div class="card-title text-center p-3">

                                    <a id="btn-index"   href="{{ path('app_outils_create') }}"><svg  xmlns="http://www.w3.org/2000/svg" width="50" height="50"  fill="#FD6621" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                            <path  d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                        </svg></a>

                                </div>



                            </div>



                        </div>
                    </div>

                    <div class="col-xl-4 col-xxl-4 col-lg-4 col-md-12">
                        <div class="card">

                            <div class="">

                                <h4 class="card-title text-center p-3" >BLOGS</h4>

                            </div>


                            {% set  blogTotal = blogs | length %}


                            {% set blogOnline = 0 %}
                            {% set blogOffline = 0  %}

                            {% for blog in blogs %}
                                {% if blog.online %}
                                    {% set blogOnline = blogOnline + 1 %}
                                {% else %}
                                    {%  set blogOffline = blogOffline + 1%}
                                {%  endif %}

                            {% endfor %}





                            <div class="card-body">
                                {% if blogs | length > 0 %}

                                    <p class="mb-2 d-flex align-items-center"><i class="fa fa-circle text-warning mr-1"></i> En attente

                                        <span class="pull-right text-warning ml-auto"> {{ ((blogOffline / blogTotal) * 100) | round }}%</span>
                                    </p>
                                    <div class="progress mb-3" style="height:4px">
                                        <div class="progress-bar bg-warning progress-animated" style="width:{{ ((blogOffline / blogTotal) * 100) | round }}%; height:4px;" role="progressbar">
                                        </div>
                                    </div>

                                    <p class="mb-2 d-flex align-items-center"> <i class="fa fa-circle text-success mr-1"></i>En ligne
                                        <span class="pull-right text-success ml-auto">{{ ((blogOnline / blogTotal) * 100) | round }}%</span>
                                    </p>
                                    <div class="progress mb-3" style="height:4px">
                                        <div class="progress-bar bg-success progress-animated" style="width:{{ ((blogOnline / blogTotal) * 100) | round }}%; height:4px;" role="progressbar">
                                        </div>
                                    </div>
                                {% endif %}

                                <div class="">

                                    <h4 class="card-title text-center p-3 text-muted" >Nombre de Blogs : {{ blogs | length}}</h4>

                                </div>
                                <div class="card-title text-center p-3">

                                    <a id="btn-index"   href="{{ path('app_blogs_create') }}"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"   fill="#FD6621"  class="bi bi-plus-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                            <path  d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                        </svg></a>

                                </div>



                            </div>



                        </div>
                    </div>


                    <div class="col-xl-4 col-xxl-4 col-lg-4 col-md-12">
                        <div class="card">

                            <div class="">

                                <h4 class="card-title text-center p-3" >DEMO PARTENAIRE</h4>

                            </div>




                            <div class="card-body">


                                <div class="">

                                    <h4 class="card-title text-center p-3 text-muted" >Nombre de Demandes : {{ demos | length}}</h4>

                                </div>
                                <div class="card-title text-center p-3">

                                    <a id="btn-index"   href="{{ path('app_demo_partenaire') }}"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#FD6621" class="bi bi-eye" viewBox="0 0 16 16">
                                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                        </svg></a>

                                </div>



                            </div>



                        </div>
                    </div>


                    <div class="col-xl-4 col-xxl-4 col-lg-4 col-md-12">
                        <div class="card">

                            <div class="">

                                <h4 class="card-title text-center p-3" >AUDIT & CONTACT</h4>

                            </div>









                            <div class="card-body">


                                <div class="">

                                    <h4 class="card-title text-center p-3 text-muted" >Nombre de Demandes : {{ audits | length}}</h4>

                                </div>
                                <div class="card-title text-center p-3">

                                    <a id="btn-index"   href="{{ path('app_audits') }}"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#FD6621" class="bi bi-eye" viewBox="0 0 16 16">
                                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                        </svg></a>

                                </div>



                            </div>



                        </div>
                    </div>




                    <div class="col-xl-4 col-xxl-4 col-lg-4 col-md-12">
                        <div class="card">

                            <div class="">

                                <h4 class="card-title text-center p-3" >NEWSLETTER</h4>

                            </div>




                            <div class="card-body">


                                <div class="">

                                    <h4 class="card-title text-center p-3 text-muted" >Nombre d'abonnés : {{ newsletters | length}}</h4>

                                </div>
                                <div class="card-title text-center p-3">

                                    <a id="btn-index"   href="{{ path('app_newsletters') }}"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#FD6621" class="bi bi-eye" viewBox="0 0 16 16">
                                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                        </svg></a>

                                </div>



                            </div>



                        </div>
                    </div>



                    <div class="col-xl-4 col-xxl-4 col-lg-4 col-md-12">
                        <div class="card">

                            <div class="">

                                <h4 class="card-title text-center p-3" >ACTUALITE DU MOIS</h4>

                            </div>




                            <div class="card-body">


                                <div>
                                    <h4 class="card-title text-center p-3 text-muted" >Nombre de demandes : {{ actus | length}}</h4>
                                </div>

                                <div class="card-title text-center p-3">

                                    <a id="btn-index"   href="{{ path('app_actualite_du_mois') }}"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#FD6621" class="bi bi-eye" viewBox="0 0 16 16">
                                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                        </svg></a>

                                </div>



                            </div>



                        </div>
                    </div> #}





                </div>
                </div>
            </div>




        </div>
    </div>
